/** {
    border: 1px solid blue;
    potential colors: #9FD6D6, #a9ccc4;
}*/

body {
    font-family: "futura-pt",Century Gothic,Futura,sans-serif;
    /*letter-spacing: .1em;*/
    background: #fdfdfd;
    color: #223366;
}
.navbar {
    padding: 10px 0;
}
nav {
    background: #aacccc;
}

.nav {
   float: right;
}

.nav-pills {
    color: #223366
/*    background: #223366;
*/}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        color: #f0f0f0;
        background-color: #223366;
}

a {
    color: #223366;
    text-decoration: none;
}

.balance {
    height: 125px;
    text-align: center;
    padding-top: 25px;
    font-size: 16px;
}

h2 {
    font-family: "futura-pt",Century Gothic,Futura,sans-serif;
    text-align: left;
    margin-top: 0;
}

h3 {
    font-family: "futura-pt",Century Gothic,Futura,sans-serif;
    text-align: center;
}

h1 {
    font-family: "futura-pt",Century Gothic,Futura,sans-serif;
    display: inline;
    color: #223366;

}
h1 img {
    vertical-align: top;
    padding-top: 5px;
}

.profile {
    margin-bottom: 15px;
}

.money {
    text-align: center;
    font-size: 35px;
    color: #14882C;
}

.util {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 800;
}

.date {
    font-size: 10px;
    color: #888;
}

.history {
    border: 1px solid #eee;
    border-radius: 10px;
    background: #f0f0f0;
    color: #112B3D;
}

.history p {
    padding-bottom: 7px;
}

.month {
    border: 1px solid #eee;
    border-radius: 10px;
    background: #f0f0f0;
    height: 400px;
    margin: 0 2% 5% 0;

}

.amt {
    display: block;
}
.reconciled {
    float: right;
    width: 55px;
}
